body {
  background: #fff;
  padding: 0px;
  margin: 0px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

form{
  margin: 100px;
  padding: 100px;
  width: 500px;


}
h1{
  padding-top:0px;
  color: #1B3470;
}
.main-div{
  border-radius: 15px;
}
